body {
    background: #201D1A;
    font-family: "Nunito", sans-serif;
}

h2{
    color: #C85923;
    font-weight: 400;
    font-size: 2.25rem;
}

section {
    margin-bottom: 100px;
}

.lead {
    color: #A2ABAF;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2;
}

.rook {
    color: #988672;
}

.iconCred {
    color: #988672;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
  }

#mainNavnar .nav-link {
    color: pink;
}

#mainNavnar .nav-link:hover {
    color: white;
}

#headingGroup h1{
    color: #A2ABAF;
}

#headingGroup i {
    color: #C85923;
}

.navbar.scrolled{
    background: #39342B;
    transition: background 500ms;
}


@media (max-width: 1200px) {
    #headingGroup h1{
        font-size: 2rem;
    }
}